body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
    
.App {
  background-color: #282c34;
}
  
.collapsible {
  color:white;
  border-radius: 25px;
  background-color: rebeccapurple;
  padding: 15px;
  width: 50%;
  text-align: left;
}

.collapsible-header {
  cursor: pointer;
  width: 100%;
  padding:none;
  
}

.collapsible-content {
  display:none;
  overflow: hidden;
}

